
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link a {
    padding: 0 1rem;
    color: var(--text-dark);
    transition: 0.3s;
}

.header-image {
    position: relative;
}

 .img-1{
    height: 350px;
}


.link a:hover {
    color: var(--primary-color);
}
